[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-huggingface = "*"
pypdf = "*"
langchain-text-splitters = "*"
sentence-transformers = "*"
langchain = "*"
streamlit = "*"
langchain-classic = "*"
langchain-community = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.13"
