--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
python-dotenv
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
